.context-menu {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;

    border-style:solid;
    border-color: black;

    margin: 0;
    padding: 0;
}

.context-menu li {
    list-style-type: none;
    cursor: pointer;
    background: blue;
    color:white;
    padding:5px;
}

.context-menu li:hover {
    background:red;
}    

.context-menu-visible {
    visibility: visible;
}
