.context-menu {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;

    border-style:solid;
    border-width: 1px;
    border-color: black;

    margin: 0;
    padding: 0;
}

.context-menu li {
    list-style-type: none;
    cursor: pointer;
    background:rgba(255, 255, 255, 0.9);
    color:black;
    padding:5px;
}

.context-menu li:hover {
    background:rgba(223, 223, 223, 0.9);
}    

.context-menu-visible {
    visibility: visible;
}
